<!doctype html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="theme-color" content="#000000">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link href="https://bibliotecadigitaluplaph.hidalgo.gob.mx/img_banco/favicon.ico" rel="apple-touch-icon" />
  <link rel="shortcut icon" href="https://bibliotecadigitaluplaph.hidalgo.gob.mx/img_banco/favicon.ico">
  <link rel="icon" href="https://bibliotecadigitaluplaph.hidalgo.gob.mx/img_banco/favicon.ico" />
  <title>BANCO DE PROYECTOS HIDALGO</title>
  <script defer="defer" src="../../../static/js/main.538e4518.js"></script>
  <link href="../../../static/css/main.fa6ab4f7.css" rel="stylesheet">
  <meta name="copyright" content="Gabriel Gomez│gomez50057">

</head>

<body>
  <div id="root"></div>
</body>

</html>